/* Service history list */
.service-history-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 0.5rem;
}

.service-history-list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: var(--overlay-soft);
  font-family: 'Courier New', Courier, monospace;
}

.service-history-list .row .mileage {
  font-size: 18px;
}

.service-history-list .row .date {
  background-color: var(--overlay-medium);
  padding: 0 4px;
  border-radius: 4px;
}

.service-history-list .row .right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.has-notes,
.delete-icon {
  color: var(--text-primary);
  width: 22px;
}

/* Mileage history list */
.mileage-history-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 0.5rem;
}

.mileage-history-list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: var(--overlay-soft);
  font-family: 'Courier New', Courier, monospace;
}

.mileage-history-list .row .mileage {
  font-size: 18px;
}

.mileage-history-list .row .distance {
  background-color: var(--overlay-medium);
  padding: 0 4px;
  border-radius: 4px;
}

.mileage-history-list .row .date {
  opacity: 0.7;
  font-size: 14px;
}

.mileage-history-list .row .right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
